#home-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* ---SCROLL BAR--- */

.chatbox::-webkit-scrollbar {
    width: 10px;
}

.chatbox::-webkit-scrollbar-track {
    background: transparent;
}

.chatbox::-webkit-scrollbar-thumb {
    background: var(--light);
    border-radius: 10px;
}


/* ---CHATBOX FRAME--- */

.chat-container {
    height: 60%;
    width: 60%;
}

.current-user-box {
    display: inline-block;
    width: 100%;
    height: 50px;
    font-size: 25px;
    color: #fff

}

.current-user-box p {
    margin-top: 7px;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;

}

.chatbox {
    overflow-y: scroll;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: black;
    width: 90%;
    height: 100%;
    background-color: var(--light)

}

/* ---CHATBOX INPUT--- */

.chat-input {
    margin: 0;
    width: 90%;
    height: 70px;
}

.chat-textbox-box {
    background-color: var(--lightest);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    width: 76%;
    height: 40px;
    margin-bottom: 13px;
}

.chat-textbox {
    background-color: transparent;
    border: none;
    width: 96%;
    height: 100%;
    font-size: 22px;
    margin-left: 2%;
}

input:focus {
    outline: none;
}

.chat-button {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: black;
    width: 24%;
    height: 40px;
    font-size: 20px;

}

/* ---Message Bubbles--- */

.msg-block {

    display: flex;
    flex-direction: row;
}

.msg-interior {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.msg-general {
    max-width: 50%;
    background-color: #F4D35E;
    border-radius: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.msg-user {
    margin-left: auto;
    margin-right: 1%;

}

.msg-other {
    margin-right: auto;
    margin-left: 1%;

}

.msg-text {
    margin-top: 10px;
    margin-bottom: 0;

}

.msg-time {
    color: grey;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: right;
}